.callBack
  position: fixed
  bottom: 110px
  right: 25px
  z-index: 999

.callBack__body
  position: relative

.callBack__icon
  width: 50px
  height: 50px
  cursor: pointer
  position: relative
  z-index: 0
  transition: 1.3s ease-in-out

  &:hover
    transform: scale(1.1)

  &::before, &::after
    content: ''
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    width: 100%
    height: 100%
    border: 1px solid #FF782D
    border-radius: 50%
    animation: pulse 1.1s linear infinite

  &::after
    animation-duration: 2.1s

.callBack__body img
  width: 100%
  height: 100%
  object-fit: cover

.callBack__instagram,
.callBack__phone,
.callBack__whatsApp,
.callBack__mail
  position: absolute
  top: 0
  left: 0
  width: 30px
  height: 30px
  cursor: pointer
  margin: 10px
  z-index: -1
  transition: all 0.8s ease
  display: block

  &:hover
    width: 35px
    height: 35px

.callBack__phone.active
  transform: translateY(-70px)

.callBack__mail.active
  transform: translateY(-120px)

.callBack__whatsApp.active
  transform: translateY(-170px)

.callBack__instagram.active
  transform: translateY(-220px)

@keyframes pulse
  0%
    transform: translate(-50%, -50%) scale(0.7)
    opacity: 0
  50%
    opacity: 1
  100%
    transform: translate(-50%, -50%) scale(1.5)
    opacity: 0

.scroll
  display: flex
  align-items: center
  justify-content: center
  background-color: #e65a57
  width: 50px
  height: 50px
  text-align: center
  border-radius: 4px
  position: fixed
  bottom: 30px
  right: 30px
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s
  opacity: 0
  visibility: hidden
  z-index: 1000

  &:hover
    cursor: pointer

  &.show
    opacity: 1
    visibility: visible
